{{ form_start(form) }}

    <h2>Page information</h2>
    
    {{ form_row(form.title) }}
    {{ form_row(form.heading) }}
    {{ form_row(form.metadescription) }}
    {{ form_row(form.location) }} 

    <h2>Call to action</h2>

    {{ form_row(form.actionTitle) }}
    {{ form_row(form.actionName) }}
    {{ form_row(form.linkPage) }}
    {{ form_row(form.actionLabel) }}

    <h2>Articles</h2>

{{ form_end(form) }}











