{% extends 'base.html.twig' %}

{% block title %}{{ page.title }}{% endblock %}

{% block body %}

	<h1 class="text-center mb-15">{{ page.heading }}</h1>

	<!-- ##### ARTICLE ##### -->
	{% for article in page.article %}
		<section class="blog-content-area section-padding-100 mb-15">
			<div class="container">
				<h2 class="text-center mb-15">{{ article.title | capitalize }}</h2>
					<div class="the-article d-flex flex-wrap mt-30">
						{% if article.image != null %}
							<div class="col-sm-12 col-md-6">
								<img src="{{asset('/images/upload/' ~ article.image)}}" alt = {{ article.alternativeText }}/>
							</div>
							<div class="col-sm-12 col-md-6">
								<p>{{ article.text }}</p>
							</div>
						{% else %}
							<div class="col-sm-12 col-md-12">
								<p>{{ article.text }}</p>
							</div>
						{% endif %}

					</div>
			</div>
		</section>
	{% endfor %}

	<!-- ##### BLOC ACTION  ##### -->
		{% if page.actionTitle != null %}
			<section class="blog-content-area section-padding-100 section-action">
				<div class="container text-center">
					<h2>{{ page.actionTitle }}</h2>
					<p>{{ page.actionName }}</p>
				
				{% if page.linkPage %}
					<a href="{{path('page_show', { 'slug': page.linkPage.slug })}}" class="btn-action">{{ page.actionLabel }}</a>
				{% endif %}
				</div>
			</section>
		{% endif %}


	<!-- ##### TEXTARTICLE ##### -->

	{% if page.textArticles != null %}
		{% for textArticles in page.textArticles %}
			<section class="hero-area section-padding-100">
				<div class="container text-center section-padding-0-100">
					<h2>{{ textArticles.title | capitalize }}</h2>
					<h3>{{ textArticles.subTitle }}</h3>
					<p>{{ textArticles.text }}</p>
				</div>
			</section>
		{% endfor %}
	{% endif %}


	{{ render(controller('App\\Controller\\PartialController::categoriesSlider')) }}


	

 
{% endblock %}
