<!DOCTYPE html>
<html>
	<head>
		<meta charset="UTF-8">
		<meta name="description" content="">
		<meta http-equiv="X-UA-Compatible" content="IE=edge">
		<meta
		name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
		<link rel="icon" href="{{asset('images/core-img/favicon.ico')}}">
		<link rel="stylesheet" href="{{ asset('css/lightbox.min.css')}}">
		<link href="{{ asset('css/lightbox.css')}}" rel="stylesheet"/>
		<link href="https://unpkg.com/gijgo@1.9.13/css/gijgo.min.css" rel="stylesheet" type="text/css"/>

		<link rel="stylesheet" href="{{ asset('style.css')}}">

		<title>
			 {% block title %}Administration{% endblock %}
		</title>
	</head>
	<body {% block body_class %}{% endblock %}>
		<div class="preloader d-flex align-items-center justify-content-center">
			<div class="circle-preloader">
				<img src="{{asset('images/logo.png')}}" alt="logo">
				<div class="foode-preloader">
					<span></span>
				</div>
			</div>
		</div>

		

		{% set currentPath = app.request.attributes.get('_route') %}

		<header class="header-area">

			{% block logo %}
				<!-- Logo Area -->
				<div class="logo-area text-center">
					<div class="container">
						<div class="row">
							<div class="col-12">
								<!-- Nav brand -->
								<a href="index.html" class="nav-brand">
									<img src="{{asset('images/logo.png')}}" alt="logo">
								</a>
								{% if (is_granted('ROLE_ADMIN')) %}
									<span>Administration</span>		
								{% endif %}						
							</div>
						</div>
					</div>
				</div>
			{% endblock %}

			<h3 class ='text-center'>{% block subtitle %}{% endblock %}</h3>


			{% block navbar %}
				<!-- Navbar Area -->
				<div class="foode-main-menu">
					<div class="classy-nav-container breakpoint-off">
						<div class="container">
							<!-- Menu -->
							<nav class="classy-navbar" id="foodeNav">
								<a href="" class="nav-brand"><img src="{{asset('images/logo.png')}}" alt="logo"></a>
								<div class="classy-navbar-toggler">
									<span class="navbarToggler">
										<span></span>
										<span></span>
										<span></span>
									</span>
								</div>

								<!-- Menu -->
								<div class="classy-menu">

									<!-- close btn -->
									<div class="classycloseIcon">
										<div class="cross-wrap">
											<span class="top"></span>
											<span class="bottom"></span>
										</div>
									</div>

                                    <div class="classynav">
                                        <ul>
                                            <li><a href="{{ path('page_show', {'slug': 'home'})  }}">Home</a></li>
					    <li><a href="{{path('admin_homepage')}}" {% if currentPath == "admin_homepage" %}class="active-nav"{% endif %}>Administration</a></li>
                                            <li><a href="{{path('categories_index')}}" {% if currentPath == "categories_index" %}class="active-nav"{% endif %}>My categories</a></li>
                                            <li><a href="{{path('product_index')}}" {% if currentPath == "product_index" %}class="active-nav"{% endif %}>My products</a></li>
                                            <li><a href="{{path('page_index')}}" {% if currentPath == "page_index" %}class="active-nav"{% endif %}>My pages</a></li>
                                            <li><a href="{{path('purchase_index')}}" {% if currentPath == "purchase_index" %}class="active-nav"{% endif %}>Purchases</a></li>
											<li><a href="{{ path('app_logout') }}">Logout</a></li>
                                        </ul>
                                    </div>	
                                </div>	
							</nav>
						</div>
					</div>
				</div>
			{% endblock %}
		</header>
		
	



		<div class="container mt-15 mb-15"> 
			{% block Flash %}
				{% for message in app.flashes('success') %}
					<div class="alert alert-success alert-dismissible fade show" role"alert">
						{{ message }}
						  <button type="button" class="close" data-dismiss="alert" aria-label="Close">
							<span aria-hidden="true">&times;</span>
						</button>
					</div>
				{% endfor %}

				{% for message in app.flashes('danger') %}
					<div class="alert alert-danger alert-dismissible fade show" role="alert">
						{{ message }}
						  <button type="button" class="close" data-dismiss="alert" aria-label="Close">
							<span aria-hidden="true">&times;</span>
						</button>
					</div>
				{% endfor %}
			{% endblock %}
		</div> 



		<div class="container mt-15 mb-15">
	    	{% block body %}{% endblock %}
		</div>

    	</body>


		<script src="{{asset('js/jquery/jquery-2.2.4.min.js')}}"></script>
		<script src="{{asset('js/bootstrap/popper.min.js')}}"></script>
		<script src="{{asset('js/bootstrap/bootstrap.min.js')}}"></script>
		<script src="{{asset('js/plugins/plugins.js')}}"></script>
		<script src="{{asset('js/active.js')}}"></script>
		<script src="{{asset('https://unpkg.com/gijgo@1.9.13/js/gijgo.min.js')}}" type='text/javascript'></script>
		<script src="{{asset('js/app.js')}}"></script>
		<script src="{{asset('Js/lightbox.js')}}"></script>

		{% block javascripts %}{% endblock %}

</html>
