{% extends 'base.html.twig' %}

{% block title %}User{% endblock %}

{% block body %}
    <div class="container">
        <h1 class='text-center'>Your account</h1>

        <table class="table">
            {# <tbody>
                <tr>
                    <th>Your email</th>
                    <td>{{ user.email }}</td>
                </tr>
                <tr>
                    <th>LastName</th>
                    <td>{{ user.lastName }}</td>
                </tr>
                <tr>
                    <th>FirstName</th>
                    <td>{{ user.firstName }}</td>
                </tr>
                <tr>
                    <th>My orders</th>
                    {% for purchase in user.purchases %}
                        <td>{{ purchase.total}}</td>
                    {% endfor %} 
                </tr>

            </tbody> #}
        </table>
            <thead>
                <tr>
                    <th>Creation date</th>
                    <th>Total</th>
                    <th>Receipe</th>
                </tr>
            </thead>
            <tbody>
                <tr>
                    {% for purchase in user.purchases %}               
                    <td>{{ purchase.createdAt }}</td>
                    <td>{{ purchase.total }}</td>
                    <td>
                        <a href="{{ path('facture', {'id': purchase.id}) }}" target='_blank'>
                            <svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="currentColor" class="bi bi-file-earmark-arrow-down" viewBox="0 0 16 16">
                                <path d="M8.5 6.5a.5.5 0 0 0-1 0v3.793L6.354 9.146a.5.5 0 1 0-.708.708l2 2a.5.5 0 0 0 .708 0l2-2a.5.5 0 0 0-.708-.708L8.5 10.293V6.5z"/>
                                <path d="M14 14V4.5L9.5 0H4a2 2 0 0 0-2 2v12a2 2 0 0 0 2 2h8a2 2 0 0 0 2-2zM9.5 3A1.5 1.5 0 0 0 11 4.5h2V14a1 1 0 0 1-1 1H4a1 1 0 0 1-1-1V2a1 1 0 0 1 1-1h5.5v2z"/>
                            </svg>
                        </a>
                    </td>
                    {% endfor %}
                </tr>
            </tbody>

                    
        <div class="text-center">
            <a href="{{ path('user_edit', {'id': user.id}) }}" class="btn btn-retour">edit infos</a>
        </div>		

        <div class="text-center">
            <a href="{{ path('user_password_edit', {'id': user.id}) }}" class="btn btn-retour">change password</a>
        </div>		

        {{ include('user/_delete_form.html.twig') }}
    </div>
{% endblock %}
